<h1>Education</h1>
<h3>Bachelor of Science<br />
    Computer Information Systems<br />
    <small>University of Delaware, College of Arts and Sciences<br />
        2010</small>
</h3>
<h4>XO Laptop Capstone Project
    <br />
    <small>Fall 2009</small>
</h4>
<div>
    <ul>
        <li>Designed, proposed, and created learning software for Chester Community Charter School.
        </li>
        <li>Collaborated with teachers to better understand their teaching methods and student’s needs.
        </li>
        <li>Utilized Python with XO laptops to create a fun and informative program for students.
        </li>
    </ul>
</div>