<h1>Professional Experience</h1>
<h3>Software Developer</h3>

<h4>Ventyx, an ABB Company
                <br />
    <small>Chadds Ford, PA
                <br />
        June 2010 – Current
    </small></h4>
<ul>
    <li>Completed multiple development projects utilizing ASP.NET 3.5, concurrent Oracle and MS-SQL Databases with dynamic, database driven UIs. Expert guidance regularly provided to Global Customer Service and Consulting teams to support customer requests.
    </li>
    <li>Selected to join flagship “High Impact Team” for rapid delivery of solutions for customer maintenance projects. Reduced average number of days cases remained open from 150 to under 50 in single year.
    </li>
    <li>Hand-picked to create new enterprise solution for Equipment Reliability with recently implemented Agile Methodologies and cutting edge frameworks: .NET 4.5, Entity Framework 5, and ASP.NET MVC.
    </li>
    <li>Proposed and implemented new application architecture in order to support key design principles and begin unit testing with NUnit, a first for our site.
    </li>
</ul>

<h3>Information Technology Intern IV</h3>
<h4>Pepco Holdings, Inc.
                    <br />
    <small>Wilmington, DE
                        <br />
        August 2009 – May 2010
    </small>
</h4>
<ul>
    <li>Technical Support for Pepco Holdings offices located in Delaware, New Jersey, and Maryland. Traveled to locations in order to provide dedicated and personal support for escalated client issues.
    </li>
    <li>Frequently traveled to MD and NJ locations to assist with company-wide laptop refresh and to perform on-site troubleshooting.
    </li>
    <li>Trusted to cover entire IT Client Support role at Mays Landing, NJ location during regular support absence.
    </li>
</ul>
