<h1>Technical Skills</h1>

<table class="table table-bordered">

    <tbody>
        <tr class="active">
            <td>Languages</td>
            <td>C#</td>
            <td>HTML</td>
            <td>Javascript</td>
            <td>CSS</td>
            <td>T-SQL</td>
            <td>PL/SQL</td>
        </tr>
        <tr>
            <td rowspan="2">Frameworks</td>
            <td colspan="3">ASP.NET WebForms / MVC</td>
            <td colspan="2">Entity Framework ORM</td>
            <td>Web API</td>
        </tr>
        <tr>
            <td class="hide"></td>
            <td colspan="3">Microsoft Enterprise Library</td>
            <td>jQuery</td>
            <td colspan="2">Bootstrap CSS</td>
        </tr>
        <tr class="active">
            <td>Databases</td>
            <td colspan="3">Microsoft SQL Server (2000, 2005, 2008)</td>
            <td colspan="3">Oracle (9i, 10g, 11g)</td>
        </tr>
        <tr>
            <td rowspan="2">Tools</td>
            <td colspan="1">Visual Studio</td>
            <td colspan="2">Team Foundation Server</td>
            <td colspan="3">Telerik .NET UI Controls</td>
        </tr>
        <tr>
            <td class="hide"></td>
            <td colspan="2">VersionOne (Agile Project Management)</td>
            <td colspan="2">DevArt Entity Developer</td>
            <td colspan="2">Active Reports 6</td>
        </tr>
    </tbody>
</table>
